#{extends 'main.html'/}

<meta charset="utf-8">
<title>TV MICC 47</title>
	
 <div class="container">

<div class="row">
		<h1>Contactos</h1>
		<div class="table-responsive">
			<table class="table table-hover">
					<thead>
						<tr>
							<th>NOMBRE</th>
							<th>EMAIL</th>
							<th>TELEFONO</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><b>Tv MICC canal 47</b></td>
							<td>canaltvmicc@gmail.com</td>
							<td>523 2800268</td>
						</tr>
						<tr>
							<td><b>Mashi</b></td>
							<td>gavinovargas@gmail.com</td>
							<td>09</td>
						</tr>
						<tr>
							<td><b>Nicolas Milligalli</b> </td>
							<td>nicolasmillingalli@gmail.com</td>
							<td>009845454</td>
						</tr>
					</tbody>
	
	
			</table>
		</div>
</div>
	
	</div>
	
<nav class="navbar-collapse navbar-inverse text-center"  >

			<p style="color: white">
				Tv MICC. 47 en Cotopaxi | Latacunga | Salcedo | Todos
				los cantones
			</p>
			<br /> 
			<p style="color: white">
				Ll&aacute;manos: 523- 2800-268<br /> Escr&iacute;benos:
				canaltvmicc@gmail.com
			</p>
			<p style="color: white">
				Direcci&oacute;n: Calle Quito 58-18 y Luis F. Ru&iacute;z<br />
				Latacunga - Ecuador
			</p>

		<p style="color: white">	
		&copy; CanalDelMovimientoCotopaxi. 	Derechos reservados 2016.
			</p>
</nav>