#{extends 'main.html'/} #{ set title:'formulario.html'/}

<meta charset="utf-8">
<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h1 class="well">Nuevo Contacto</h1>
		</div>
	</div>

#{form @contactos.guardarContacto(nombreContacto, telefonoContacto,
	correoContacto)}
	<div class="row">
		<div class="col-xs-2 text-right">
			<legend>Nombre:</legend>
		</div>

		<div class="col-lg-8">
			<input type="text" class="form-control" name="nombreContacto"
				placeholder="Ingrese el nombre" required>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-2 text-right">
			<legend>Telefono:</legend>
		</div>

		<div class="col-lg-8">
			<input type="text" class="form-control" name="telefonoContacto"
				placeholder="Ingrese el telefono" required>
		</div>
	</div>


	<div class="row">
		<div class="col-xs-2 text-right">
			<legend>Email:</legend>
		</div>

		<div class="col-lg-8">
			<input type="text" class="form-control" name="correoContacto"
				placeholder="Ingrese el telefono" required>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 text-center">
			<button type="submit" class="btn btn-primary">Guardar</button>
			<a href="/contactos" class="btn btn-danger"
				onclick="return confirm('Esta seguro');">Cancelar</a>
		</div>
	</div>
	#{/form}
</div>
<nav class="navbar-collapse navbar-inverse text-center"  >

			<p style="color: white">
				Tv MICC. 47 en Cotopaxi | Latacunga | Salcedo | Todos
				los cantones
			</p>
			<br /> 
			<p style="color: white">
				Ll&aacute;manos: 523- 2800-268<br /> Escr&iacute;benos:
				canaltvmicc@gmail.com
			</p>
			<p style="color: white">
				Direcci&oacute;n: Calle Quito 58-18 y Luis F. Ru&iacute;z<br />
				Latacunga - Ecuador
			</p>

		<p style="color: white">	
		&copy; CanalDelMovimientoCotopaxi. 	Derechos reservados 2016.
			</p>
</nav>
