#{extends 'main.html'/}

<meta charset="utf-8">
<div class="container  well">
<h3><b>Cobertura- Extenderse</b> </h3>
<p class="text-justify">
En este momento tenemos una Ley de Comunicación que establece parámetros para ampliar coberturas, el canal aspira 
llegar a la zona de mayor incidencia indígena que es la zona occidental de Cotopaxi, no llegamos en este momento allá, 
pero en los próximos años haremos el esfuerzo de ampliar la cobertura, necesitamos insertarnos a los nuevos retos 
tecnológicos. Hace dos años estuvimos empeñados en ampliar la cobertura pero mientras no existía la Ley de 
Comunicación era difícil.</p> 

<h3><b>Publicidad </b> </h3>

La publicidad nos permite sostener la parte económica del canal para el pago de personal con tarifas de 2 dólares cada segundo por un spot publicitario  <br>

<h3><b>Manera de medir el raiting de sintonía</b></h3>

No, ahora va a ser el Estado a través de la CORDICOM, Consejo de Regulación y Desarrollo de la Información y 
Comunicación quién realice la medición de las audiencias. 

<h3><b>Aporte de TV MICC a la comunidad</b> </h3>
<p class="text-justify">
Poco a poco nos hemos ido empoderándonos en el sector rural campesino y sectores urbanos, dando noticias diferentes. 
Aquí en Cotopaxi hasta cuando no hubo TV MICC no aparecían los sectores rurales, no aparecían la pobreza, no se 
visibilizaba las marginalidades, no se visibilizaba todas las riquezas culturales que hay aquí en Cotopaxi, 
fiestas, fiestas comunitarias ya cuando comenzó a funcionar TV MICC 
aparecen otros escenarios que estaban escondidos.</p> 

<h3><b>Aporte que realiza TV MICC a la Historia de la Comunicación de la Provincia de Cotopaxi </b> </h3>
<p class="text-justify">
El ser el primer canal comunitario, no solo aportamos a Cotopaxi sino al país, esperamos que a futuro ya 
exista otros medios televisivos comunitarios. CORDICOM, el Consejo de Regulación, ha establecido parámetros para 
ubicar a los medios de comunicación pero en el caso de TV MICC no encuentran una categoría donde ubicarlo, entonces 
ellos también están enfrentando a realidades que van apareciendo.<br>
Construir una identidad de medio de comunicación comunitario, también implica plantear conceptos, 
enfoques y parámetros, hay varios medios televisivos que dicen tener el concepto de comunitario, RTU por ejemplo 
dice que es comunitario pero cuál es la diferencia con TV MICC, la diferencia es abismal este medio de comunicación 
es colectivo, aquí en Cotopaxi tenemos otros medios, como TV COLOR dice que es comunitario y porque es comunitario, 
porque también sacan noticias de la comunidad, entonces hay un gran debate . TV MICC es comunitario está llevando a 
la práctica, la gestión administrativa, el enfoque comunicativo, no decimos que somos imparciales, nosotros tenemos 
una identidad política en la comunicación, somos del Movimiento Indígena de Cotopaxi, por el enfoque político hasta 
con un movimiento político nos confunden pero lo que si hay que tener claro es que ningún medio es imparcial, lo que 
si hay que propender es a la objetividad de los hechos. <br>
Esto contribuye a fortalecer la identidad de los pueblos indígenas de las comunidades, en ese sentido el canal es 
significativo.</p>

<h3><b>El mayor logro que ha tenido TV MICC</b></h3>
<p class="text-justify">
Con los pocos recursos que tenemos que enfrentar, el personal trabaja hasta 12 o 14 horas diarias. Hemos conformado 
el equipo de trabajo para dar voz a la gente, para dar imagen a la gente, acercarnos a la gente. Sostenernos en este 
mercado es tan complicado, es bastante dificultoso conseguir publicidad, no todos quieren poner publicidad en un 
canal indígena porque hay el estima que los indígenas no venden o que el quichua no vende, que nadie ve TV MICC, 
ese para mi es el mayor logro de haberse sostenido, seguirse sosteniendo y la otra es el involucramiento de la 
gente, la gente ya dice es nuestro canal, es interesante el hecho que nos hemos posicionado, el mayor logro es dar 
información todos los días en donde no han llegado los medios de comunicación tradicionales. <br>


El Movimiento Indígena y Campesino de la provincia de Cotopaxi (MICC), en Ecuador, inauguró el el primer canal 
de televisión indígena de señal abierta. El lanzamiento de la TV MICC Canal 47 ocurrió en el cantón Latacunga.  
La Coordinadora Andina de Organizaciones Indígenas (CAOI) informó que el canal será dirigido por los indígenas y 
ayudará a consolidar un Estado plurinacional. Según la entidad, “todos tendrán voz: los de corbata, los de poncho,
 los de ciudad, los de campo”. <br>

La TV MICC Canal 47 tendrá un alcance de tres provincias: Cotopaxi, Tugurahua y Chimborazo. En la inauguración, 
el movimiento anunció que se pondrá dos antenas repetidoras para que alcance a la costa y otras provincias. <br>

“Tras 516 años de intento por invisibilizarnos, tendremos voz propia, fortaleceremos la minga de los pueblos indígenas 
y escribiremos la historia de nuestros pueblos con nuestra voz y nuestras propias manos”, apuntó CAOI.  <br>

Participaron de la inauguración Andrés Andrago del CODENPE (Consejo de las Nacionalidades y Pueblos del Ecuador), 
que apoyó financieramente el proyecto; y el prefecto César Umajinga Guamán del Gobierno Provincial de Cotopaxi, 
que entregó un edificio de dos plantas con varios ambientes en calidad de donación para el funcionamiento del canal;
así como dirigentes de las organizaciones nacionales indígenas. <br>


Su cobertura es de tres provincias centrales del callejón interandino: Cotopaxi, Tungurahua y Chimborazo<br>
</p>

</div>