#{extends 'main.html'/}

<meta charset="utf-8">
<div class="container ">


<h1 class="text-center"><b>HISTORIA</b></h1>
<h3><b>Creación del canal TV MICC</b></h3> 
<p class="text-justify">Hay varias fechas, empezó con la asignación de la concesión de 
frecuencias para el canal el 28 de agosto del 2008, la creación de la primera 
señal que sale al aire es el 28 de febrero del 2009 y se inaugura el 17 de julio del 2009.</p>

<h3><b>Proceso de institucionalización</b></h3>
<p class="text-justify">
La concesión de la frecuencia la asigna el Estado en ese momento creo que es la aparición del 
canal que es el 28 de agosto del 2008 el año de creación, pero las imágenes que aparecen en la pantalla 
de la gente es el 28 de febrero del 2009, y es el concesionario de la frecuencia el Movimiento indígena y 
campesino de Cotopaxi, no sé si lo funda el Movimiento de Cotopaxi. Cuando firman el documento y asignan una 
frecuencia para mi es el día que aparece la institucionalidad pero el canal es propiedad del Movimiento indígena
del Cotopaxi, es el concesionario.</p>

<h3><b>El movimiento indígena decidió crear un canal de televisión</b> </h3>
<p class="text-justify">
Porque en el sector que estamos trabajando sobre todo el movimiento indígena ha visto la necesidad de tener voz 
propia, no a través de otros medios, siempre los medios sobre todo hegemónicos que representan a sectores opuestos 
a la lucha del movimiento indígena y han tergiversado informaciones que salen del movimiento indígena. En ese sentido 
se pensó tener este medio de comunicación pero también entendiendo de que la comunicación es un derecho, acceder a una 
estrategia comunicativa, de tener un instrumento de comunicación que pudo haber sido una radio, prensa también en
este caso la dirigencia del movimiento indígena decidió por un canal de televisión sobre todo por un derecho a la 
educación. </p>


</div>