#{extends 'main.html'/}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>TV MICC 47</title>
<link rel="stylesheet" type="text/css" media="screen" 	href="public/stylesheets/estilo.css">

<script src="public/javascripts/jquery-1.6.4.min.js"></script>
<script src="public/javascripts/jquery-1.7.min.js"></script>
<script src="public/javascripts/jquery.easing.1.3.js"></script>
<script src="public/javascripts/tms-0.4.x.js"></script>

</head>
<div class="col-lg centrar">


<a href="#"><img src="public/images/facebook.png" alt=""></a>


<a href="#"><img src="public/images/google.png" alt=""></a>


<a href="#"><img src="public/images/twitter.png" alt=""></a>


</div>


<div class="container">
            <div class="row">
                <div class="col-xs-12 jumbotron ">
                    <h2 class="text-center">INFORMACI&Oacute;N GENERAL</h2>
                    <figure><img src="public/images/tvmiccHistoria.jpg" alt=""></figure>
                    <p class="text-justify">Tv Micc primer canal de televisión indígena del Ecuador inicia sus transmisiones 
 el 28 de Febrero del 2009, programación que impulsa  la riqueza cultural de la población, 
 a través del uso sostenido del kichwa, la promoción de la música y demás expresiones artísticas , 
 la forma de producción, alimentación , el bienestar de la persona.
 Desde sus inicios Tv MICC privilegia los espacios que generan opinión pública 
 enmarcados en la pluralidad, el respeto a la diversidad y la libertad de expresión.
 Nuestro público objetivo es la población pobre de la zona rural, semi urbana y 
 urbana de los cantones que están en la zona  de cobertura de Tv MICC.</p>
                <div class="col-xs-12 col-sm-6 col-md-4  text-center">
                    <h2>HISTORIA</h2>
                    <figure></figure>
                    <a href="@{quienesSomos.detallehistoria()}" class="btn btn-success">Leer mas</a>
                </div>
             
        
                <div class="col-xs-12 col-sm-6 col-md-4  text-center">
                    <h2>MISI&Oacute;N</h2>
                    <figure></figure>
                    <a href="@{quienesSomos.mision()}" class="btn btn-success">Leer mas</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4  text-center"  >
                    <h2>VISI&Oacute;N</h2>
                    <figure></figure>
                   
                    <a href="@{quienesSomos.vision()}" class="btn btn-success">Leer mas</a>
                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-4  text-center"  >
                    <h2>ACTUALIDAD</h2>
                    <figure></figure>
                   
                    <a href="@{quienesSomos.actualidad()}" class="btn btn-success">Leer mas</a> <br>
                </div>
                   </div>
        </div>
   </div>

	

</html>