#{extends 'main.html'/}
<meta charset="utf-8">
<div class="container ">

  <p>NUESTRA MISION</p>
La misión es dar voz e imagen a la gente que no ha tenido acceso a la información tan cual se presentan 
de manera realista en los hechos. Fomentar e impulsar a contribuir a mejorar la calidad de vida de la 
gente de manera indirecta, fortalecer los procesos de interculturalidad, contribuir en la implementación
de un Estado plurinacional, que está dicho en la Constitución de la República.
Estamos de alguna manera sirviendo a la gente, y dando el derecho a informarse en su propio idioma,
en su propia cultura, cuando hablamos en el idioma quichua, la gente hace uso de sus derechos colectivos.
</div>