#{extends 'main.html'/}

<meta charset="utf-8">
<div class="container  well">
 <p>NUESTRA VISION</p>
La visión ser un canal comunicativo con alta incidencia tecnológica, con una participación amplia de la 
gente desde las comunidades, desde los sectores campesinos, periféricos urbanos, ciudades con una alta 
incidencia intercultural, de tal manera que ha futuro vemos un canal de televisión haciendo emisiones de 
alta calidad acorde a los avances tecnológicos y acomodándonos también a las circunstancias socioeconómicas 
que va dándose en la sociedad.
</div>