#{extends 'main.html'/}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>TV MICC 47</title>



</head>
<body >
	
<div class="container">
   <div class="row">
	 	<h1 class="text-center";> <b>TV MICC: 2 años de construir el "sueño indígena"</b></h1>
	    <img class="center-block " width="250" height="150" src="@{'/public/images/blanca.jpg'}"/>
	<p class="text-justify"> <b>Latacunga</b> Un día de trabajo para Blanca Naula (fotos) inicia a las 5:30.
	Esta mujer, de 40 años de edad, es la encargada de poner a punto todo el equipo técnico necesario 
	para las emisiones matutinas de TV MICC, cuya transmisión se inicia todos los días a las 6:00. <br>

Blanca es oriunda de la comunidad Sacha Cumbijín, perteneciente al cantón Salcedo, provincia de Cotopaxi. 
Comenta que por algunos años trabajó en Quito en labores domésticas y que previa a la inauguración de este canal 
de televisión la contactaron para trabajar en este medio de comunicación como conserje; ella aceptó por la motivación 
que le produjo volver a su tierra.<br>
Ya en TV MICC, y pasadas unas semanas, le solicitaron que se encargara también de la preparación del almuerzo para 
el personal. Entre las labores de cuidado del edificio, aseo y las de cocina, transcurrieron seis meses. Al cabo de 
ese tiempo, y de modo progresivo, quienes manejaban el equipo siguieron encargándole a Blanca la tarea de encender
 las computadoras en la mañana. Con esto -la hasta entonces conserje- fue involucrándose en el manejo de los equipos 
 técnicos del canal. La mujer recuerda cómo anotaba, “paso por paso, lo que tenía que hacer en un cuaderno (…) 
 y en las noches repasaba” para memorizar el procedimiento.<br>

Transcurrido algún tiempo, el escaso personal del que en ese entonces disponía el medio participó en cursos 
de capacitación técnica dictados por una Fundación del País Vasco y por personal técnico de la Ecuarrunari, 
al grupo de aprendices se unió Blanca. Con humildad dice que no tuvo instrucción escolar, mientras pone en 
claro su inclinación por la comunicación. “No soy estudiada nada, aquí en el canal aprendí. Para mí fue maravilloso 
poder aprender porque recibo ayuda de otras personas (…) Me gusta la comunicación y debo hacer lo mejor para que 
todo salga bien”, manifiesta.<br>

Ahora, transcurridos dos años de la inauguración del canal, Blanca se desempeña como asistente técnica, 
actividad que combina con sus ocupaciones iniciales. Asegura no tener inconveniente en conjugar todas las
labores que le han encomendado pues en ella está arraigado ese sentimiento de “solidaridad que caracteriza a las 
comunidades indígenas. Asegura que “el canal no tiene plata, aquí todos colaboran, no se gana sueldo”. <br>

Al contar su experiencia, Blanca se emociona hasta las lágrimas pues dice sentirse orgullosa de pertenecer 
al medio de comunicación indígena porque esto le ha permitido conocer a mucha gente, a adquirir experiencias 
valiosas y a aportar para que el “sueño de tener un canal indígena” se cristalice en una realidad.<br>

<b>El camino andado</b></br>
 
TV MICC es el primer canal indígena de Latinoamérica. Tras cinco años de gestionar la concesión de la frecuencia 
en el Consejo Nacional de Radio y Televisión (Conartel), a las 17:00 del 28 de febrero de 2009 emitió su primera 
señal. Pertenece al Movimiento Indígena y Campesino de Cotopaxi (MICC), sale al aire en la frecuencia 47 y su slogan 
es: “La imagen de la diversidad”.
</br>Dos años han transcurrido y aunque el nivel de cobertura no es total en las provincias de Tungurahua, 
Chimborazo y Cotopaxi, la programación de este medio gana terreno paulatinamente entre la audiencia indígena 
y mestiza del centro del país.</br>
Wilmer Umajinga, tiene 24 años, estudia Derecho en la Universidad Central (Quito) y percibe como “beneficioso”
que el país cuente con un medio televisivo en el que se hable en kichwa. “Es importante porque se puede 
comunicar en nuestro propio idioma y se puede llegar a las comunidades. Es el único canal que ha estado 
investigando sobre las comunidades”, señala. Asegura que ha visto la programación de TV MICC y considera que 
hay algunos espacios que deberían priorizarse y crearse: “Hay que jugar en el aspecto cultural y turístico (…) 
y tienen que abrir un espacio para educar en la sexualidad en nuestro propio idioma (…) (pues) en las comunidades 
indígenas todavía hay muchachitas entre 14 y 18 años que emigran y empiezan a confundirse, por lo que hay muchos
embarazos adolescentes en la comunidad indígena”, manifiesta.</br>

La programación musical matutina es, probablemente, una de las más sintonizadas.</br>

José Sacatoro dice que el canal tiene mucha aceptación entre la población indígena que vive en la ciudad de Latacunga,
 pero cree que –en lo que respecta a la programación musical- debería priorizarse a grupos y artistas nacionales.
 “Es bueno para los indígenas que vivimos aquí (…) se muestran costumbres antiguas, pero quisiera que mejore en 
 ese espacio que dan música, sí hay música de aquí (…) no es bueno que pongan sólo de peruanos o bolivianos”.</br>

En cuanto a la emisión de programas infantiles, Sacatoro manifiesta que esos deberían</br>
estar apegados a “lo indígena” y no ser los mismos que se transmiten en otros canales.</br>

<b>Las proyecciones</b><br>

Ángel Tibán, gerente de TV MICC, sostiene que el accionar del medio televisivo está alineado con las concepciones
indígenas, por lo que asegura que “eso debe reflejarse en lo que se ofrece y se muestra”. El canal tiene incidencia 
en las comunidades, dice, aunque aclara que “técnicamente no se puede hacer una medición de la incidencia que el 
canal tiene, pero existe una percepción de ver a este medio de comunicación como un espacio para los sectores
menos favorecidos y rurales”, pero sin descuidar el urbano, aclara.<br>

Entre las aspiraciones de TV MICC consta la producción de un noticiero en kichwa y español, conformación de un 
equipo que se dedique a trabajar en producciones audiovisuales, realizar producción cinematográfica indígena y 
gestionar para que su señal alcance mayor cobertura que les permita llegar a los cantones cotopaxenses de La Maná, 
Pangua y Sigchos, para luego extenderse a otras provincias.<br> <br> <br>


 <img class="img-rounded" width="250" height="150" src="@{'/public/images/blanca1.JPG'}"/>
 <img class="img-rounded" width="250" height="150" src="@{'/public/images/blanca6.JPG'}"/>
   <img class="img-rounded" width="250" height="150" src="@{'/public/images/blanca3.JPG'}"/>
    <img class="img-rounded" width="250" height="150" src="@{'/public/images/blanca4.JPG'}"/>
     <img class="img-circle" width="250" height="150" src="@{'/public/images/blanca5.JPG'}"/>
      <img class="img-circle" width="250" height="150" src="@{'/public/images/blanca2.JPG'}"/>
      <img class="img-circle" width="250" height="150" src="@{'/public/images/blanca7.jpg'}"/>
      <img class="img-circle" width="250" height="150" src="@{'/public/images/blanca8.jpg'}"/>
  </p>
  
  
<div class="row">
			<div class="col-lg-12">

				#{if comentarios}
				<table class="table">
					<tr>
						<th>NOMBRE</th>
						<th>APELLIDO</th>
						<th>COMENTARIO</th>
						<th>CATEGORIA</th>
						

						
					</tr>
				
					#{list items:comentarios, as:'come'}
					<tr>
						<td><b>${come.Nombre}</b></td>
						<td><b>${come.Apellido}</b></td>
						<td>${come.Comentario}</td>
						<td>${come.Categoria}</td>
						
						#{list items:cate, as:'categ'}
					<tr>
						<td><b>${categ.categoria}</b></td>
						
							
					</tr>
					#{/list}
							#{if conectado}
						<td> <a href="@{Comentarios.eliminar(come.id)}">  Eliminar </td>
						#{/if}
					</tr>
					#{/list}
				</table>
				#{/if} #{else}
				<div class="bg-danger">
					<h3>No hay ningun Comentario</h3>
				</div>
				#{/else}
			</div>

		</div>
		
		
		
       
       <div id="registrodes">
		<div class="registro1">
			<h1 class="login-title">Deje su comentario aquí</h1>
			
				
			<form action="@{Comentarios.registrar}">
				<METHOD=POST>
					<CENTER>
						<TABLE border="1"  >
							<TR>
								<TD>Nombre:</TD>
								<TD><INPUT class="form-control" TYPE="text" NAME="nombre" SIZE=18 MAXLENGTH=18>
							<TR>
								<TD>Apellidos:</TD>
								<TD><INPUT class="form-control" TYPE="text" NAME="apellido" SIZE=48
									MAXLENGTH=48></TD><br><br>
							</TR>
							<TR>
								<TD>categoria:</TD>
								<TD><INPUT class="form-control" TYPE="text" NAME="apellido" SIZE=48
									MAXLENGTH=48></TD><br><br>
							</TR>
							<TR>
								<TD>Comentario: <BR>
								</TD>
								<TD><TEXTAREA class="form-control" NAME="comentario" ROWS=5 COLS=48></TEXTAREA></TD>
 							</TR>
 						
 							
 							
								
                           
                                  
                   
							<td><div align="center">
								<input class="form-control" type="submit" value="Enviar">
							</div></td>
						</TABLE>
					</CENTER>
				</FORM>
					</tr>
				</table>				
		</div>
		</form>
		<div id="saludo"></div>

	</div>
       
         
       
       
       
			</div>
		
		</div>	



 <nav class="navbar-collapse navbar-inverse text-center"  >

			<p style="color: white">
				Tv MICC. 47 en Cotopaxi | Latacunga | Salcedo | Todos
				los cantones
			</p>
			<br /> 
			<p style="color: white">
				Ll&aacute;manos: 523- 2800-268<br /> Escr&iacute;benos:
				canaltvmicc@gmail.com
			</p>
			<p style="color: white">
				Direcci&oacute;n: Calle Quito 58-18 y Luis F. Ru&iacute;z<br />
				Latacunga - Ecuador
			</p>

		<p style="color: white">	
		&copy; CanalDelMovimientoCotopaxi. 	Derechos reservados 2016.
			</p>
</nav>	
