
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
<a  href="@{Application.index()}">inicio</a>
</body>
</html>

<nav class="navbar-collapse navbar-inverse text-center"  >

			<p style="color: white">
				Tv MICC. 47 en Cotopaxi | Latacunga | Salcedo | Todos
				los cantones
			</p>
			<br /> 
			<p style="color: white">
				Ll&aacute;manos: 523- 2800-268<br /> Escr&iacute;benos:
				canaltvmicc@gmail.com
			</p>
			<p style="color: white">
				Direcci&oacute;n: Calle Quito 58-18 y Luis F. Ru&iacute;z<br />
				Latacunga - Ecuador
			</p>

		<p style="color: white">	
		&copy; CanalDelMovimientoCotopaxi. 	Derechos reservados 2015.
			</p>
</nav>