#{extends 'main.html'/}
<meta charset="utf-8">

<div class="container well">
<h2>TVMICC, una visión desde la esencia indígena (primera parte)</h2>

<h3><b>Primera parte: La lucha por la reivindicación triunfa en la comunicación alternativa</b> </h3>
<p class="text-justify">
El frío andino de la provincia de Cotopaxi se disipaba en señal de que en pocas horas iba a amanecer. 
Era la madrugada del 14 de febrero de 2004, cuando Manuel Caizatoa, morador de Cusubamba, parroquia rural 
del cantón Salcedo, corría por los terrenos de sus vecinos para darles la noticia. El tiempo se le iba de las 
manos y no alcanzó a transmitirles el mensaje a todos..<br>

Esa madrugada, Miguel Pillaguano, habitante de esa misma parroquia, alistó su cosecha, se despidió de su familia 
y se dirigió al mercado de Latacunga para vender sus quintales de choclos, como todos los sábados. Su sorpresa 
fue tan grande al llegar a la plaza a las cinco de la mañana, hora en que empieza el movimiento comercial,  
y encontrarla desolada.<br>

La noche anterior, fuerzas políticas, sindicales e indígenas cerraron las carreteras de ingreso a la ciudad como 
parte de su protesta en contra del gobierno del presidente Lucio Gutiérrez, lo cual imposibilitó la actividad 
comercial en la ciudad; pero Miguel y otros comerciantes tuvieron conocimiento de ello sólo hasta ese momento.<br>

Días atrás el Movimiento Indígena y Campesino de Cotopaxi (MICC) convocó a dirigentes para iniciar la medida, 
pero Pillaguano no pudo asistir a las reuniones con los miembros de su parroquia, porque no podía dejar su 
trabajo en época de cosecha. Su otra alternativa para enterarse de lo que estaba por suceder, eran los medios 
de comunicación; sin embargo, según este campesino, los locales dieron apertura al Presidente para hablar de las
paralizaciones, pero no se oficializó la continuación o cancelación de la medida; de igual manera, los nacionales 
anunciaron que las movilizaciones apenas comenzarían el lunes 17.<br>

Los inconvenientes con los medios de comunicación en Latacunga se acentuaron desde 1990, con los primeros 
levantamientos indígenas. Hubo tergiversación de los acontecimientos por parte de algunas emisoras, que no 
mostraban interés por incluir a los indios en sus programas; de igual forma, atentados en contra la libertad de 
expresión por parte de ciertos sectores dominantes.<br>

La provincia de Cotopaxi tiene aproximadamente 380.000 habitantes, más del cincuenta por ciento comprende población
indígena y montubia, cuya mayoría se dedica a la agricultura y agronegocio; sin embargo, hasta el 2009 no tenían un 
medio de comunicación con cobertura local que los representara; como se aprecia en el cuadro inferior, la provincia 
contaba con nueve y apenas  uno era comunitario: Radio Latacunga (perteneciente a la Iglesia Católica) y, en ciertas 
ocasiones, dependiente de diversas fuerzas políticas.<br>
</p> 
<img class="center-block " width="250" height="150" src="@{'/public/images/articulo.jpg'}"/>

Miguel Pillaguano recuerda que en el levantamiento  de 1994 en contra de la Ley Agraria, propuesta 
por el entonces presidente Sixto Durán Ballén, las Fuerzas Armadas de la Brigada Patria sometieron a los periodistas 
de la radio e interrumpieron la señal.

En 1997 los conflictos con las radios continuaban y el MICC quería que Radio Latacunga pase a ser de su propiedad. 
“Siempre hubo la necesidad de tener un medio. Por todos los problemas de desinformación es que necesitábamos una 
radio o un canal de televisión propio”, afirma Pillaguano. Pero los indígenas querían un espacio de comunicación  
independiente.

Los dirigentes del movimiento tenían el proyecto de la creación de una radio comunitaria desde inicios del 90. 
Fue diez años después, que en el Consejo de Gobierno del MICC se decidió llevar a cabo la idea, pero ya no se habló 
de tener una estación radial, sino un canal de televisión comunitario. El plan se transformó en un documento escrito
y, junto con los requisitos para la concesión de frecuencias radiodifusión y de televisión, se presentó al Consejo 
Nacional de Radiodifusión y Televisión (CONARTEL).

La presencia indígena en el ámbito político fue trascendental para agilitar el proceso, pese a ello, el trámite de 
concesión se tardó cuatro años en ser aprobado. El CONARTEL asignó la frecuencia de televisión UHF canal 47, 
en noviembre de 2008 y dio seis meses de plazo para que empezara a funcionar el primer canal comunitario del 
Movimiento Indígena y Campesino de Cotopaxi: TVMICC.

<h3><b>Publicidad </b> </h3>

La publicidad nos permite sostener la parte económica del canal para el pago de personal con tarifas de 2 dólares 
cada segundo por un spot publicitario  <br>

<h3><b>Manera de medir el raiting de sintonía</b></h3>

No, ahora va a ser el Estado a través de la CORDICOM, Consejo de Regulación y Desarrollo de la Información y 
Comunicación quién realice la medición de las audiencias. 

<h3><b>Aporte de TV MICC a la comunidad</b> </h3>
<p class="text-justify">
Poco a poco nos hemos ido empoderándonos en el sector rural campesino y sectores urbanos, dando noticias diferentes. 
Aquí en Cotopaxi hasta cuando no hubo TV MICC no aparecían los sectores rurales, no aparecían la pobreza, no se 
visibilizaba las marginalidades, no se visibilizaba todas las riquezas culturales que hay aquí en Cotopaxi, 
fiestas, fiestas comunitarias ya cuando comenzó a funcionar TV MICC 
aparecen otros escenarios que estaban escondidos.</p> 

<h3><b>Aporte que realiza TV MICC a la Historia de la Comunicación de la Provincia de Cotopaxi </b> </h3>
<p class="text-justify">
El ser el primer canal comunitario, no solo aportamos a Cotopaxi sino al país, esperamos que a futuro ya 
exista otros medios televisivos comunitarios. CORDICOM, el Consejo de Regulación, ha establecido parámetros para 
ubicar a los medios de comunicación pero en el caso de TV MICC no encuentran una categoría donde ubicarlo, entonces 
ellos también están enfrentando a realidades que van apareciendo.<br>
Construir una identidad de medio de comunicación comunitario, también implica plantear conceptos, 
enfoques y parámetros, hay varios medios televisivos que dicen tener el concepto de comunitario, RTU por ejemplo 
dice que es comunitario pero cuál es la diferencia con TV MICC, la diferencia es abismal este medio de comunicación 
es colectivo, aquí en Cotopaxi tenemos otros medios, como TV COLOR dice que es comunitario y porque es comunitario, 
porque también sacan noticias de la comunidad, entonces hay un gran debate . TV MICC es comunitario está llevando a 
la práctica, la gestión administrativa, el enfoque comunicativo, no decimos que somos imparciales, nosotros tenemos 
una identidad política en la comunicación, somos del Movimiento Indígena de Cotopaxi, por el enfoque político hasta 
con un movimiento político nos confunden pero lo que si hay que tener claro es que ningún medio es imparcial, lo que 
si hay que propender es a la objetividad de los hechos. <br>
Esto contribuye a fortalecer la identidad de los pueblos indígenas de las comunidades, en ese sentido el canal es 
significativo.</p>



</div>


