#{extends 'main.html'/}

<meta charset="utf-8">
<div class="container">
           <div class="row">
               <div class="jumbotron">
                  <h2 class="text-center"><b>ART&Iacute;CULO DESTACADO DE LA SEMANA</b></h2>
                  <h3></h3>
                  <h4>Primera parte: La lucha por la reivindicación triunfa en la comunicación alternativa</h4>
<p>El frío andino de la provincia de Cotopaxi se disipaba en señal de que en pocas horas iba a amanecer. 
Era la madrugada del 14 de febrero de 2004, cuando Manuel Caizatoa, morador de Cusubamba, parroquia rural del 
cantón Salcedo, corría por los terrenos de sus vecinos para darles la noticia. El tiempo se le iba de las manos y 
no alcanzó a transmitirles el mensaje a todos.</p>
<a href="@{Application.articulosemana()}" class="btn btn-primary btn-lg" role="button">Leer mas</a></p>
            </div>
           </div>
       </div>

<div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <h2>RITMOS DE LATINOAMERICA</h2>
                    <figure></figure>
                    <p><h3>Esta semana en los avances de Ritmos de Latinoamerica</h3></p>
                    <video controls class="img-responsive">
					<source src="/public/videos/AVANCE RITMOS DE LATINOAMERICA SEP 2015.mp4" type="video/mp4"></source>
				</video>
                    
                </div>
        
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <h2>AVANCE NUESTRO KAUSAY</h2>
                    <p><h3>Una mirada a lo nuestro</h3></p>
                     <p><h3>Cultura viva</h3></p>
                    <video controls class="img-responsive">            
					<source src="/public/videos/Avance Nuestro Kawsay.mp4" type="video/mp4"></source>
				</video>
                    <figure></figure>
                    <p></p>
                    
                </div>
                
                
                
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <h2>ADICCIONES JUVENILES</h2>
                    <p><h3>Programa para tratar Problemas Sociales</h3></p>
                    
                    <video controls class="img-responsive">            
					<source src="/public/videos/ADICCIONES- TU PROGRAMA JUVENIL...!!! (1).mp4" type="video/mp4"></source>
				</video>
                    <figure></figure>
                    <p></p>
                   
                </div>
                
                
                
                
        </div>
   </div>
        
