#{extends 'main.html'/}

<meta charset="utf-8">
<div class="container">

	<div class="row">
		<h1 class="text-center">PARRILLA DE PROGRAMACION - TV MICC CANAL 47</h1>
		<div class="table-responsive">
			<div class="col-md-6 col-xs-6">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>HORARIO</th>
							<th>SABADO</th>

						</tr>
					</thead>
					<tbody>
						<tr>
							<td><b>05:00 - 06:00</b></td>
							<td>MUSICA DE MI TIERRA</td>

						</tr>
						<tr>
							<td><b>06:00 - 06:55</b></td>
							<td>MUSICA DE MI TIERRA</td>
						</tr>
						<tr>
							<td><b> </b></td>
							<td></td>
						</tr>
						<tr>
							<td><b>07:00 - 07:55</b></td>
							<td>Documentales TV MICC NACIONAL</td>
						</tr>
						<tr>
							<td><b>08:00 - 08:30</b></td>
							<td>Programacion infantil</td>
						</tr>
						<tr>
							<td><b>08:30 - 9:00</b></td>
							<td>Documentales TV MICC</td>
						</tr>
						<tr>
							<td><b>09:00 - 09:55</b></td>
							<td>Ritmos de Latinoamerca EN VIVO</td>
						</tr>
						<tr>
							<td><b>10:00 -10:55</b></td>
							<td>Vision 47 EN VIVO</td>
						</tr>
						<tr>
							<td><b>11:00 - 11:55</b></td>
							<td>Documentales TV MICC NACIONAL</td>
						</tr>
						<tr>
							<td><b>12:00 - 12:55</b></td>
							<td>Documentales TV MICC NACIONAL</td>
						</tr>
						<tr>
							<td><b>13:00 - 14:00</b></td>
							<td>MUSICA PARA SENTIR</td>
						</tr>
						<tr>
							<td><b>14:00 -16:00</b></td>
							<td>CINE CONSENTIDO</td>
						</tr>
						<tr>
							<td><b>16:00 - 17:00</b></td>
							<td>MUSICA TROPICAL</td>
						</tr>
						<tr>
							<td><b>17:00 - 17:55</b></td>
							<td>MUSICA TROPICAL</td>
						</tr>
						<tr>
							<td><b>17:55 -18:00</b></td>
							<td>PROGRAMACION INFANTIL</td>
						</tr>
						<tr>
							<td><b>18:00 - 18:55</b></td>
							<td>Documentales TV MICC NACIONAL</td>
						</tr>
						<tr>
							<td><b>19:00 - 19:25</b></td>
							<td>Documentales TV MICC NACIONAL</td>
						</tr>
						<tr>
							<td><b>19.30 - 20:30</b></td>
							<td>PROGRA GEO TV</td>
						</tr>
						<tr>
							<td><b>20:35 - 21:25</b></td>
							<td>Documentales TV MICC NACIONAL</td>
						</tr>
						<tr>
							<td><b>21:30 - 22:25</b></td>
							<td>Vision 47 REPRISS</td>
						</tr>
						<tr>
							<td><b>22:25 - 22:30</b></td>
							<td>Documentales TV MICC NACIONAL</td>
						</tr>
						<tr>
							<td><b>22.30 - 23:00</b></td>
							<td>CINE CONSENTIDO</td>
						</tr>
						<tr>
							<td><b>23:00 - 01:00</b></td>
							<td>CINE CONSENTIDO</td>
						</tr>
						<tr>
							<td><b>01:00 - 05:00</b></td>
							<td>CINE CONSENTIDO</td>
						</tr>
						<tr>
							<td><b>05:00 - 06:00</b></td>
							<td>MUSICA DE MI TIERRA</td>
						</tr>
					</tbody>
				</table>
			</div>



			<div class="col-md-6 col-xs-6">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>HORARIO</th>
							<th>DOMINGO</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><b>05:00 - 06:55</b></td>
							<td>MUSICA DE MI TIERRA</td>
						</tr>
						<tr>
							<td><b>07:00 - 07:55</b></td>
							<td>PROGRAMA GEO TV REPRISS</td>
						</tr>
						<tr>
							<td><b> </b></td>
							<td></td>
						</tr>
						<tr>
							<td><b>08:00 - 08:55</b></td>
							<td>TUNGURAHUA PROFUNDO REPRISS</td>
						</tr>
						<tr>
							<td><b>09:00 - 09:55</b></td>
							<td>DOCUMENTALES TV MICC NACIONAL</td>
						</tr>
						<tr>
							<td><b>10:00 - 10:55</b></td>
							<td>MUSICA AUTOCTONA INDIGENAS</td>
						</tr>
						<tr>
							<td><b>11:00 - 11:55</b></td>
							<td>VISION 47 REPRISS</td>
						</tr>
						<tr>
							<td><b>12:00 - 12:55</b></td>
							<td>Documentales TV MICC</td>
						</tr>
						<tr>
							<td><b>13:00 - 13:55</b></td>
							<td>Documentales TV MICC NACIONAL</td>
						</tr>
						<tr>
							<td><b>12:00 - 12:55</b></td>
							<td>MUSICA TROPICAL</td>
						</tr>
						<tr>
							<td><b>14:00 - 16:00</b></td>
							<td>CINE CONSENTIDO – NACIONAL</td>
						</tr>
						<tr>
							<td><b>16:00 - 16:55</b></td>
							<td>RITMOS DE LATINOAMERICA REPRISS</td>
						</tr>
						<tr>
							<td><b>17:00 - 17:55</b></td>
							<td>Documentales TV MICC</td>
						</tr>
						<tr>
							<td><b>18:00 - 18:55</b></td>
							<td>CONAGOPARE COTOPAXI REPRISS</td>
						</tr>
						<tr>
							<td><b>19:00 - 19:55</b></td>
							<td>VISION 47 REPRISS</td>
						</tr>
						<tr>
							<td><b>20:00 - 20:55</b></td>
							<td>SENTIMIENTO ANDINO DOMINICAL</td>
						</tr>
						<tr>
							<td><b>21:00 - 22:00</b></td>
							<td>SENTIMIENTO ANDINO DOMINICAL</td>
						</tr>
						<tr>
							<td><b>22:00 - 22:55</b></td>
							<td>Documentales TV MICC</td>
						</tr>
						<tr>
							<td><b>23:00 - 05:00 </b></td>
							<td>CINE CONSENTIDO</td>
						</tr>
						<tr>
							<td><b>05:00 - 05:45</b></td>
							<td>MUSICA DE MI TIERRA</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
