#{extends 'main.html'/}
<!DOCTYPE html>

<meta charset="utf-8">
<title>TV MICC 47</title>


<section class="color1">



             <div class="container">
		<div class="row">
		
		<div class="col-xs-12 col-sm-6 col-md-4">
		
				<br> <br> <br>
				  <video controls class="img-responsive">            
					<source src="/public/videos/TV MICC (3).mp4" type="video/mp4"></source>
				</video>
			</div>
	
			
			<div align="center">
   
   
   
   <div class="col-xs-12 col-sm-6 col-md-4">
			<div align="center">
				<br> <br> <br>
				  <video controls class="img-responsive">            
					<source src="/public/videos/TV MICC (2).mp4" type="video/mp4"></source>
				</video>
			</div>
			
		
   
   
				



<section class="color1">

	
					<br>
					<br>
					<br>
					<br>
					<br>
					<br> AQUI PIUEDES COMENTAR SOBRE NUESTRA PROGRAMACION
					<!-- begin wwww.htmlcommentbox.com -->
					<div id="HCB_comment_box">
						<a href="http://www.htmlcommentbox.com">Comentarios</a>
					</div>
					<link rel="stylesheet" type="text/css"
						href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
					<script type="text/javascript" id="hcb">
						/*<!--*/if (!window.hcb_user) {
							hcb_user = {};
						}
						(function() {
							var s = document.createElement("script"), l = hcb_user.PAGE
									|| ("" + window.location).replace(/'/g,
											"%27"), h = "//www.htmlcommentbox.com";
							s.setAttribute("type", "text/javascript");
							s.setAttribute("src", h + "/jread?page="
									+ encodeURIComponent(l).replace("+", "%2B")
									+ "&opts=16862&num=10&ts=1452185064398");
							if (typeof s != "undefined")
								document.getElementsByTagName("head")[0]
										.appendChild(s);
						})(); /*-->*/
					</script>
					<!-- end www.htmlcommentbox.com -->
			</div>

			</video>
		</div>
		

			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
				<h3 class="color3">Servicios</h3>
				<a href="#">Diseño Web</a><br> <a href="#">Lenguajes de
					Programación</a><br> <a href="#">App's de Facebook</a><br> <a
					href="#">Eventos</a><br>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
				<h3 class="color3">Servicios</h3>
				<a href="#">Diseño Web</a><br> <a href="#">Lenguajes de
					Programación</a><br> <a href="#">App's de Facebook</a><br> <a
					href="#">Eventos</a><br>
			</div>
		</div>
		<p>
			<span class="glyphicon  glyphicon-arrow-left">
		</p>
		<p>
			<span class="glyphicon glyphicon-arrow-right">
		</p>

	</div>
	
</section>




